In [25]:
import pandas as pd

In [26]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [28]:
len(df)

100

In [29]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [30]:
from sqlalchemy import create_engine

In [31]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [32]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [33]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [34]:
df = next(df_iter)

In [35]:
len(df)

100000

In [36]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [37]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [38]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 5.05 s, sys: 259 ms, total: 5.31 s
Wall time: 8.88 s

1000

In [39]:
from time import time
while True: 
    t_start = time()

    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.799 second
inserted another chunk, took 8.551 second
inserted another chunk, took 8.952 second
inserted another chunk, took 8.279 second
inserted another chunk, took 8.188 second
inserted another chunk, took 8.143 second
inserted another chunk, took 8.461 second
inserted another chunk, took 8.262 second
inserted another chunk, took 8.245 second
inserted another chunk, took 8.547 second
inserted another chunk, took 8.284 second

/var/folders/yy/dtskhm6s2m381x0bxnhqkv680000gn/T/ipykernel_14432/2733340069.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 8.028 second
inserted another chunk, took 5.263 second

StopIteration:

In [40]:

query = """
select max(tpep_pickup_datetime), min(tpep_pickup_Datetime), max(total_amount)
from yellow_taxi_data;
"""   

pd.read_sql(query, con=engine)

                  max                 min      max
0 2021-02-22 16:52:16 2008-12-31 23:05:14  7661.28